.btn {
    text-decoration: none;

    @each $key, $value in $colors {
        &--#{$key} {
            background: $value;

            &:hover {
                box-shadow: 0px 0px 40px 0px #48B06566;
            }
        }
    }

    @each $value in $sizes {
        &--#{$value} {
            @if $value == "lg" {
                padding: 16px 32px;
            }
        }
    }
}