<div class="section section-about">
  <div class="container flex flex-center gap-100">
    <div class="w-1/2">
      {% if section.settings.banner_image != blank %}
        {{
          section.settings.banner_image
          | image_url: width: '1000'
          | image_tag:
            alt: section.settings.banner_image.alt,
            class: 'w-full',
            height: null,
            width: '50%',
            loading: 'lazy'
        }}
      {% endif %}
    </div>
    <div class="w-1/2 flex flex-col flex-between">
      <div class="flex flex-col">
        <h2 class="about__title">
          {{ section.settings.title }}
        </h2>
        <span class="about__description">{{ section.settings.description }}</span>
        <div class="about__feature-wrapper">
          {%- assign feature_blocks = section.blocks | where: 'type', 'feature' -%}
          {%- for feature in feature_blocks -%}
            <div class="flex align-center gap-12">
              {%- if forloop.first -%}
                {%- render 'icon-check-active' -%}
              {%- else -%}
                {%- render 'icon-check-inactive' -%}
              {%- endif -%}
              <span class="feature__description">{{ feature.settings.feature_description }}</span>
            </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="flex align-center gap-30">
        {%- assign badge_blocks = section.blocks | where: 'type', 'badge' -%}
        {%- for badge in badge_blocks -%}
          {%- render 'badge', rating: badge.settings.rating, description: badge.settings.description: -%}
          {% if forloop.first %}
            <span class="badge__splitter"></span>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "About Secton",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet  conset atetur adipiscing elit, sed do eiusmod tempor incididunt."
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "feature_description",
          "label": "Feature Description"
        }
      ]
    },
    {
      "type": "badge",
      "name": "Badge",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "rating",
          "label": "Rating"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Section"
    }
  ]
}
{% endschema %}
