<div class="flex flex-col align-center gap-30" style="margin-bottom: 120px;">
  <h2 class="testimonial__title text-gradient--2">{{ section.settings.title }}</h2>
  <div class="testimonial__wrapper flex flex-col gap-30">
    <div class="testimonial__row flex gap-30">
      {% assign first_group = section.blocks | slice: 0, 4 %}
      {% for block in first_group %}
        {% render 'testimonial-card',
          rating: block.settings.rating,
          feedback: block.settings.feedback,
          avatar: block.settings.avatar,
          username: block.settings.username,
          role: block.settings.role
        %}
      {% endfor %}
    </div>
    <div class="testimonial__row flex gap-30">
      {% assign second_group = section.blocks | slice: 4, 3 %}
      {% for block in second_group %}
        {% render 'testimonial-card',
          rating: block.settings.rating,
          feedback: block.settings.feedback,
          avatar: block.settings.avatar,
          username: block.settings.username,
          role: block.settings.role
        %}
      {% endfor %}
    </div>
    <div class="testimonial__row flex gap-30">
      {% assign third_group = section.blocks | slice: 7, 4 %}
      {% for block in third_group %}
        {% render 'testimonial-card',
          rating: block.settings.rating,
          feedback: block.settings.feedback,
          avatar: block.settings.avatar,
          username: block.settings.username,
          role: block.settings.role
        %}
      {% endfor %}
    </div>
  </div>
  {%- if section.settings.button_text != blank -%}
    <a
      class="btn btn--primary btn--lg"
      href="{{ section.settings.button_url }}"
      style="color: {{ section.settings.text_color}}; display: inline-block;"
    >
      {{- section.settings.button_text -}}
    </a>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "Testimonials",
  "class": "section section-testimonials",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Button Background Color",
      "default": "#48B065"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Testimonial Card",
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "label": "Rating",
          "min": 0,
          "max": 5,
          "step": 0.5,
          "default": 5
        },
        {
          "type": "text",
          "id": "feedback",
          "label": "Feedback",
          "default": "Duis aute irure dolor in reprehenderit in comdo voluptate velit esse cillum dolore eu fugiat nulla pariaturreprehenderit."
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "username",
          "label": "Username"
        },
        {
          "type": "text",
          "id": "role",
          "label": "Role"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials"
    }
  ]
}
{% endschema %}
