.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-center {
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-evenly {
  justify-content: space-evenly;
}

.align-normal {
  align-items: normal;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.align-baseline {
  align-items: baseline;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.gap-1 {
  gap: 1px;
}

.round-1 {
  border-radius: 1px;
}

.gap-2 {
  gap: 2px;
}

.round-2 {
  border-radius: 2px;
}

.gap-3 {
  gap: 3px;
}

.round-3 {
  border-radius: 3px;
}

.gap-4 {
  gap: 4px;
}

.round-4 {
  border-radius: 4px;
}

.gap-5 {
  gap: 5px;
}

.round-5 {
  border-radius: 5px;
}

.gap-6 {
  gap: 6px;
}

.round-6 {
  border-radius: 6px;
}

.gap-7 {
  gap: 7px;
}

.round-7 {
  border-radius: 7px;
}

.gap-8 {
  gap: 8px;
}

.round-8 {
  border-radius: 8px;
}

.gap-9 {
  gap: 9px;
}

.round-9 {
  border-radius: 9px;
}

.gap-10 {
  gap: 10px;
}

.round-10 {
  border-radius: 10px;
}

.gap-11 {
  gap: 11px;
}

.round-11 {
  border-radius: 11px;
}

.gap-12 {
  gap: 12px;
}

.round-12 {
  border-radius: 12px;
}

.gap-13 {
  gap: 13px;
}

.round-13 {
  border-radius: 13px;
}

.gap-14 {
  gap: 14px;
}

.round-14 {
  border-radius: 14px;
}

.gap-15 {
  gap: 15px;
}

.round-15 {
  border-radius: 15px;
}

.gap-16 {
  gap: 16px;
}

.round-16 {
  border-radius: 16px;
}

.gap-17 {
  gap: 17px;
}

.round-17 {
  border-radius: 17px;
}

.gap-18 {
  gap: 18px;
}

.round-18 {
  border-radius: 18px;
}

.gap-19 {
  gap: 19px;
}

.round-19 {
  border-radius: 19px;
}

.gap-20 {
  gap: 20px;
}

.round-20 {
  border-radius: 20px;
}

.gap-21 {
  gap: 21px;
}

.round-21 {
  border-radius: 21px;
}

.gap-22 {
  gap: 22px;
}

.round-22 {
  border-radius: 22px;
}

.gap-23 {
  gap: 23px;
}

.round-23 {
  border-radius: 23px;
}

.gap-24 {
  gap: 24px;
}

.round-24 {
  border-radius: 24px;
}

.gap-25 {
  gap: 25px;
}

.round-25 {
  border-radius: 25px;
}

.gap-26 {
  gap: 26px;
}

.round-26 {
  border-radius: 26px;
}

.gap-27 {
  gap: 27px;
}

.round-27 {
  border-radius: 27px;
}

.gap-28 {
  gap: 28px;
}

.round-28 {
  border-radius: 28px;
}

.gap-29 {
  gap: 29px;
}

.round-29 {
  border-radius: 29px;
}

.gap-30 {
  gap: 30px;
}

.round-30 {
  border-radius: 30px;
}

.gap-31 {
  gap: 31px;
}

.round-31 {
  border-radius: 31px;
}

.gap-32 {
  gap: 32px;
}

.round-32 {
  border-radius: 32px;
}

.gap-33 {
  gap: 33px;
}

.round-33 {
  border-radius: 33px;
}

.gap-34 {
  gap: 34px;
}

.round-34 {
  border-radius: 34px;
}

.gap-35 {
  gap: 35px;
}

.round-35 {
  border-radius: 35px;
}

.gap-36 {
  gap: 36px;
}

.round-36 {
  border-radius: 36px;
}

.gap-37 {
  gap: 37px;
}

.round-37 {
  border-radius: 37px;
}

.gap-38 {
  gap: 38px;
}

.round-38 {
  border-radius: 38px;
}

.gap-39 {
  gap: 39px;
}

.round-39 {
  border-radius: 39px;
}

.gap-40 {
  gap: 40px;
}

.round-40 {
  border-radius: 40px;
}

.gap-41 {
  gap: 41px;
}

.round-41 {
  border-radius: 41px;
}

.gap-42 {
  gap: 42px;
}

.round-42 {
  border-radius: 42px;
}

.gap-43 {
  gap: 43px;
}

.round-43 {
  border-radius: 43px;
}

.gap-44 {
  gap: 44px;
}

.round-44 {
  border-radius: 44px;
}

.gap-45 {
  gap: 45px;
}

.round-45 {
  border-radius: 45px;
}

.gap-46 {
  gap: 46px;
}

.round-46 {
  border-radius: 46px;
}

.gap-47 {
  gap: 47px;
}

.round-47 {
  border-radius: 47px;
}

.gap-48 {
  gap: 48px;
}

.round-48 {
  border-radius: 48px;
}

.gap-49 {
  gap: 49px;
}

.round-49 {
  border-radius: 49px;
}

.gap-50 {
  gap: 50px;
}

.round-50 {
  border-radius: 50px;
}

.gap-51 {
  gap: 51px;
}

.round-51 {
  border-radius: 51px;
}

.gap-52 {
  gap: 52px;
}

.round-52 {
  border-radius: 52px;
}

.gap-53 {
  gap: 53px;
}

.round-53 {
  border-radius: 53px;
}

.gap-54 {
  gap: 54px;
}

.round-54 {
  border-radius: 54px;
}

.gap-55 {
  gap: 55px;
}

.round-55 {
  border-radius: 55px;
}

.gap-56 {
  gap: 56px;
}

.round-56 {
  border-radius: 56px;
}

.gap-57 {
  gap: 57px;
}

.round-57 {
  border-radius: 57px;
}

.gap-58 {
  gap: 58px;
}

.round-58 {
  border-radius: 58px;
}

.gap-59 {
  gap: 59px;
}

.round-59 {
  border-radius: 59px;
}

.gap-60 {
  gap: 60px;
}

.round-60 {
  border-radius: 60px;
}

.gap-61 {
  gap: 61px;
}

.round-61 {
  border-radius: 61px;
}

.gap-62 {
  gap: 62px;
}

.round-62 {
  border-radius: 62px;
}

.gap-63 {
  gap: 63px;
}

.round-63 {
  border-radius: 63px;
}

.gap-64 {
  gap: 64px;
}

.round-64 {
  border-radius: 64px;
}

.gap-65 {
  gap: 65px;
}

.round-65 {
  border-radius: 65px;
}

.gap-66 {
  gap: 66px;
}

.round-66 {
  border-radius: 66px;
}

.gap-67 {
  gap: 67px;
}

.round-67 {
  border-radius: 67px;
}

.gap-68 {
  gap: 68px;
}

.round-68 {
  border-radius: 68px;
}

.gap-69 {
  gap: 69px;
}

.round-69 {
  border-radius: 69px;
}

.gap-70 {
  gap: 70px;
}

.round-70 {
  border-radius: 70px;
}

.gap-71 {
  gap: 71px;
}

.round-71 {
  border-radius: 71px;
}

.gap-72 {
  gap: 72px;
}

.round-72 {
  border-radius: 72px;
}

.gap-73 {
  gap: 73px;
}

.round-73 {
  border-radius: 73px;
}

.gap-74 {
  gap: 74px;
}

.round-74 {
  border-radius: 74px;
}

.gap-75 {
  gap: 75px;
}

.round-75 {
  border-radius: 75px;
}

.gap-76 {
  gap: 76px;
}

.round-76 {
  border-radius: 76px;
}

.gap-77 {
  gap: 77px;
}

.round-77 {
  border-radius: 77px;
}

.gap-78 {
  gap: 78px;
}

.round-78 {
  border-radius: 78px;
}

.gap-79 {
  gap: 79px;
}

.round-79 {
  border-radius: 79px;
}

.gap-80 {
  gap: 80px;
}

.round-80 {
  border-radius: 80px;
}

.gap-81 {
  gap: 81px;
}

.round-81 {
  border-radius: 81px;
}

.gap-82 {
  gap: 82px;
}

.round-82 {
  border-radius: 82px;
}

.gap-83 {
  gap: 83px;
}

.round-83 {
  border-radius: 83px;
}

.gap-84 {
  gap: 84px;
}

.round-84 {
  border-radius: 84px;
}

.gap-85 {
  gap: 85px;
}

.round-85 {
  border-radius: 85px;
}

.gap-86 {
  gap: 86px;
}

.round-86 {
  border-radius: 86px;
}

.gap-87 {
  gap: 87px;
}

.round-87 {
  border-radius: 87px;
}

.gap-88 {
  gap: 88px;
}

.round-88 {
  border-radius: 88px;
}

.gap-89 {
  gap: 89px;
}

.round-89 {
  border-radius: 89px;
}

.gap-90 {
  gap: 90px;
}

.round-90 {
  border-radius: 90px;
}

.gap-91 {
  gap: 91px;
}

.round-91 {
  border-radius: 91px;
}

.gap-92 {
  gap: 92px;
}

.round-92 {
  border-radius: 92px;
}

.gap-93 {
  gap: 93px;
}

.round-93 {
  border-radius: 93px;
}

.gap-94 {
  gap: 94px;
}

.round-94 {
  border-radius: 94px;
}

.gap-95 {
  gap: 95px;
}

.round-95 {
  border-radius: 95px;
}

.gap-96 {
  gap: 96px;
}

.round-96 {
  border-radius: 96px;
}

.gap-97 {
  gap: 97px;
}

.round-97 {
  border-radius: 97px;
}

.gap-98 {
  gap: 98px;
}

.round-98 {
  border-radius: 98px;
}

.gap-99 {
  gap: 99px;
}

.round-99 {
  border-radius: 99px;
}

.gap-100 {
  gap: 100px;
}

.round-100 {
  border-radius: 100px;
}

.round-half {
  border-radius: 50%;
}

.mx-auto {
  margin: 0 auto;
}

.bg--primary {
  background-color: #48B065;
}

.bg--green-overlay {
  background-color: #D8F3DF;
}

.bg--white {
  background-color: #fff;
}

.bg--gradient {
  background: linear-gradient(135deg, #48B065 12.5%, #1E4A2A 227.02%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.h-splitter {
  display: block !important;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}

.heading {
  font-family: Instrument Sans, sans-serif;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-gradient {
  background: radial-gradient(98.49% 105.92% at 8.9% 17.76%, #FFFFFF 0%, #999999 48.38%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient--2 {
  background: radial-gradient(118.31% 118.31% at 0% 11.36%, #071E12 0%, #6E7A6D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center {
  text-align: center;
}

.text--primary {
  color: #48B065;
}

.text--green-overlay {
  color: #D8F3DF;
}

.text--white {
  color: #fff;
}

.container {
  width: 1210px;
  margin-left: calc((100vw - 1210px) / 2);
}

.w-full {
  width: 100%;
}

.w-1\/1 {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.3333333333%;
}

.w-1\/4 {
  width: 25%;
}

.w-1\/5 {
  width: 20%;
}

.w-1\/6 {
  width: 16.6666666667%;
}

.w-1\/7 {
  width: 14.2857142857%;
}

.w-1\/8 {
  width: 12.5%;
}

.w-1 {
  width: 1px;
}

.h-1 {
  height: 1px;
}

.w-2 {
  width: 2px;
}

.h-2 {
  height: 2px;
}

.w-3 {
  width: 3px;
}

.h-3 {
  height: 3px;
}

.w-4 {
  width: 4px;
}

.h-4 {
  height: 4px;
}

.w-5 {
  width: 5px;
}

.h-5 {
  height: 5px;
}

.w-6 {
  width: 6px;
}

.h-6 {
  height: 6px;
}

.w-7 {
  width: 7px;
}

.h-7 {
  height: 7px;
}

.w-8 {
  width: 8px;
}

.h-8 {
  height: 8px;
}

.w-9 {
  width: 9px;
}

.h-9 {
  height: 9px;
}

.w-10 {
  width: 10px;
}

.h-10 {
  height: 10px;
}

.w-11 {
  width: 11px;
}

.h-11 {
  height: 11px;
}

.w-12 {
  width: 12px;
}

.h-12 {
  height: 12px;
}

.w-13 {
  width: 13px;
}

.h-13 {
  height: 13px;
}

.w-14 {
  width: 14px;
}

.h-14 {
  height: 14px;
}

.w-15 {
  width: 15px;
}

.h-15 {
  height: 15px;
}

.w-16 {
  width: 16px;
}

.h-16 {
  height: 16px;
}

.w-17 {
  width: 17px;
}

.h-17 {
  height: 17px;
}

.w-18 {
  width: 18px;
}

.h-18 {
  height: 18px;
}

.w-19 {
  width: 19px;
}

.h-19 {
  height: 19px;
}

.w-20 {
  width: 20px;
}

.h-20 {
  height: 20px;
}

.w-21 {
  width: 21px;
}

.h-21 {
  height: 21px;
}

.w-22 {
  width: 22px;
}

.h-22 {
  height: 22px;
}

.w-23 {
  width: 23px;
}

.h-23 {
  height: 23px;
}

.w-24 {
  width: 24px;
}

.h-24 {
  height: 24px;
}

.w-25 {
  width: 25px;
}

.h-25 {
  height: 25px;
}

.w-26 {
  width: 26px;
}

.h-26 {
  height: 26px;
}

.w-27 {
  width: 27px;
}

.h-27 {
  height: 27px;
}

.w-28 {
  width: 28px;
}

.h-28 {
  height: 28px;
}

.w-29 {
  width: 29px;
}

.h-29 {
  height: 29px;
}

.w-30 {
  width: 30px;
}

.h-30 {
  height: 30px;
}

.w-31 {
  width: 31px;
}

.h-31 {
  height: 31px;
}

.w-32 {
  width: 32px;
}

.h-32 {
  height: 32px;
}

.w-33 {
  width: 33px;
}

.h-33 {
  height: 33px;
}

.w-34 {
  width: 34px;
}

.h-34 {
  height: 34px;
}

.w-35 {
  width: 35px;
}

.h-35 {
  height: 35px;
}

.w-36 {
  width: 36px;
}

.h-36 {
  height: 36px;
}

.w-37 {
  width: 37px;
}

.h-37 {
  height: 37px;
}

.w-38 {
  width: 38px;
}

.h-38 {
  height: 38px;
}

.w-39 {
  width: 39px;
}

.h-39 {
  height: 39px;
}

.w-40 {
  width: 40px;
}

.h-40 {
  height: 40px;
}

.w-41 {
  width: 41px;
}

.h-41 {
  height: 41px;
}

.w-42 {
  width: 42px;
}

.h-42 {
  height: 42px;
}

.w-43 {
  width: 43px;
}

.h-43 {
  height: 43px;
}

.w-44 {
  width: 44px;
}

.h-44 {
  height: 44px;
}

.w-45 {
  width: 45px;
}

.h-45 {
  height: 45px;
}

.w-46 {
  width: 46px;
}

.h-46 {
  height: 46px;
}

.w-47 {
  width: 47px;
}

.h-47 {
  height: 47px;
}

.w-48 {
  width: 48px;
}

.h-48 {
  height: 48px;
}

.w-49 {
  width: 49px;
}

.h-49 {
  height: 49px;
}

.w-50 {
  width: 50px;
}

.h-50 {
  height: 50px;
}

.w-51 {
  width: 51px;
}

.h-51 {
  height: 51px;
}

.w-52 {
  width: 52px;
}

.h-52 {
  height: 52px;
}

.w-53 {
  width: 53px;
}

.h-53 {
  height: 53px;
}

.w-54 {
  width: 54px;
}

.h-54 {
  height: 54px;
}

.w-55 {
  width: 55px;
}

.h-55 {
  height: 55px;
}

.w-56 {
  width: 56px;
}

.h-56 {
  height: 56px;
}

.w-57 {
  width: 57px;
}

.h-57 {
  height: 57px;
}

.w-58 {
  width: 58px;
}

.h-58 {
  height: 58px;
}

.w-59 {
  width: 59px;
}

.h-59 {
  height: 59px;
}

.w-60 {
  width: 60px;
}

.h-60 {
  height: 60px;
}

.w-61 {
  width: 61px;
}

.h-61 {
  height: 61px;
}

.w-62 {
  width: 62px;
}

.h-62 {
  height: 62px;
}

.w-63 {
  width: 63px;
}

.h-63 {
  height: 63px;
}

.w-64 {
  width: 64px;
}

.h-64 {
  height: 64px;
}

.w-65 {
  width: 65px;
}

.h-65 {
  height: 65px;
}

.w-66 {
  width: 66px;
}

.h-66 {
  height: 66px;
}

.w-67 {
  width: 67px;
}

.h-67 {
  height: 67px;
}

.w-68 {
  width: 68px;
}

.h-68 {
  height: 68px;
}

.w-69 {
  width: 69px;
}

.h-69 {
  height: 69px;
}

.w-70 {
  width: 70px;
}

.h-70 {
  height: 70px;
}

.w-71 {
  width: 71px;
}

.h-71 {
  height: 71px;
}

.w-72 {
  width: 72px;
}

.h-72 {
  height: 72px;
}

.w-73 {
  width: 73px;
}

.h-73 {
  height: 73px;
}

.w-74 {
  width: 74px;
}

.h-74 {
  height: 74px;
}

.w-75 {
  width: 75px;
}

.h-75 {
  height: 75px;
}

.w-76 {
  width: 76px;
}

.h-76 {
  height: 76px;
}

.w-77 {
  width: 77px;
}

.h-77 {
  height: 77px;
}

.w-78 {
  width: 78px;
}

.h-78 {
  height: 78px;
}

.w-79 {
  width: 79px;
}

.h-79 {
  height: 79px;
}

.w-80 {
  width: 80px;
}

.h-80 {
  height: 80px;
}

.w-81 {
  width: 81px;
}

.h-81 {
  height: 81px;
}

.w-82 {
  width: 82px;
}

.h-82 {
  height: 82px;
}

.w-83 {
  width: 83px;
}

.h-83 {
  height: 83px;
}

.w-84 {
  width: 84px;
}

.h-84 {
  height: 84px;
}

.w-85 {
  width: 85px;
}

.h-85 {
  height: 85px;
}

.w-86 {
  width: 86px;
}

.h-86 {
  height: 86px;
}

.w-87 {
  width: 87px;
}

.h-87 {
  height: 87px;
}

.w-88 {
  width: 88px;
}

.h-88 {
  height: 88px;
}

.w-89 {
  width: 89px;
}

.h-89 {
  height: 89px;
}

.w-90 {
  width: 90px;
}

.h-90 {
  height: 90px;
}

.w-91 {
  width: 91px;
}

.h-91 {
  height: 91px;
}

.w-92 {
  width: 92px;
}

.h-92 {
  height: 92px;
}

.w-93 {
  width: 93px;
}

.h-93 {
  height: 93px;
}

.w-94 {
  width: 94px;
}

.h-94 {
  height: 94px;
}

.w-95 {
  width: 95px;
}

.h-95 {
  height: 95px;
}

.w-96 {
  width: 96px;
}

.h-96 {
  height: 96px;
}

.w-97 {
  width: 97px;
}

.h-97 {
  height: 97px;
}

.w-98 {
  width: 98px;
}

.h-98 {
  height: 98px;
}

.w-99 {
  width: 99px;
}

.h-99 {
  height: 99px;
}

.w-100 {
  width: 100px;
}

.h-100 {
  height: 100px;
}

.btn {
  text-decoration: none;
}
.btn--primary {
  background: #48B065;
}
.btn--primary:hover {
  box-shadow: 0px 0px 40px 0px rgba(72, 176, 101, 0.4);
}
.btn--green-overlay {
  background: #D8F3DF;
}
.btn--green-overlay:hover {
  box-shadow: 0px 0px 40px 0px rgba(72, 176, 101, 0.4);
}
.btn--white {
  background: #fff;
}
.btn--white:hover {
  box-shadow: 0px 0px 40px 0px rgba(72, 176, 101, 0.4);
}
.btn--lg {
  padding: 16px 32px;
}
/* ==========================================================
// Hero Section
// =========================================================*/
.hero__content {
  position: absolute;
  top: 200px;
}
.hero__image {
  width: 100%;
}
.hero__button {
  font-family: Instrument Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  background: radial-gradient(43.32% 110% at 50.2% 147.14%, rgba(72, 176, 101, 0.8) 0%, rgba(26, 65, 37, 0.8) 100%);
  border: 0.6px solid;
  border-image-source: radial-gradient(230.08% 395.45% at 44.31% -6.82%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 14.34%, rgba(255, 255, 255, 0.7) 49.73%);
  border-radius: 8px;
  padding: 6px 10px 6px 8px;
  text-decoration: none;
}
.hero__title {
  font-weight: 500;
  line-height: 77px;
  letter-spacing: -0.03em;
  padding: 0 min((100vw - 900px) / 2, 250px);
}
.hero__description {
  max-width: 476px;
  font-family: Instrument Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  opacity: 70%;
}
.hero__review-btn {
  box-shadow: 0px 0px 40px 0px rgba(72, 176, 101, 0.4);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 65.57%);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.96px;
  text-align: center;
}
.hero__review-description {
  font-family: Instrument Sans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.3px;
}

.brand__title {
  font-family: Instrument Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(7, 30, 18, 0.5019607843);
}
.brand__title strong {
  color: #071E12;
}
.brand__wrapper {
  padding-bottom: 55px;
}
.brand__wrapper::before {
  content: " ";
  position: absolute;
  left: calc((100vw - 1300px) / 2);
  top: 0;
  width: 228px;
  height: 80px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) -55.04%, #FFFFFF 100%);
  z-index: 10;
}
.brand__wrapper::after {
  content: " ";
  position: absolute;
  right: calc((100vw - 1300px) / 2);
  top: 0;
  width: 228px;
  height: 80px;
  background: linear-gradient(-270deg, rgba(255, 255, 255, 0) -55.04%, #FFFFFF 100%);
  z-index: 10;
}
.brand__wrapper .flex::before {
  content: " ";
  width: 1300px;
  height: 1px;
  position: absolute;
  bottom: -50px;
  background-color: rgba(7, 30, 18, 0.1490196078);
}
.brand-swiper {
  padding-left: 320px;
  margin-left: calc((100vw - 1200px) / 2);
  padding-bottom: 50px;
}
.brand-swiper .swiper-wrapper::before {
  content: " ";
  width: 1350px;
  position: absolute;
  height: 80px;
  left: 0px;
  background: linear-gradient(-270deg, rgba(255, 255, 255, 0) -55.04%, #FFFFFF 100%);
  opacity: 0.7;
  z-index: 10;
}
.brand-swiper .swiper-slide {
  display: flex;
}
.brand-swiper .swiper-slide img {
  width: 150px;
  height: 32px;
}
.brand-swiper::before {
  content: " ";
  width: 1300px;
  height: 1px;
  position: absolute;
  left: -50px;
  bottom: 0;
  background-color: rgba(7, 30, 18, 0.1490196078);
}

.feature__title {
  font-family: Instrument Sans, sans-serif;
  font-weight: 500;
  line-height: 55.2px;
  letter-spacing: -0.03em;
}
.feature__tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__tabs {
  background-color: rgba(237, 247, 240, 0.6);
  border-radius: 50px;
  padding: 10px;
}
.feature__tabs .tab__button {
  cursor: pointer;
  padding: 12px 20px;
  background: none;
  display: inline-block;
  color: rgba(7, 30, 18, 0.5019607843);
  font-family: Instrument Sans;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.74px;
  letter-spacing: -0.01em;
}
.feature__tabs-panels {
  background: rgba(255, 255, 255, 0.9647058824);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5019607843);
  min-height: 200px;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}
.feature__tab__sub-title {
  font-family: Instrument Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 36.8px;
  letter-spacing: -0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.feature__tab__description {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(7, 30, 18, 0.5019607843);
}
.feature__description {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #071e12;
}

.tab-panel {
  display: none;
  animation: fadein 0.8s;
  padding-top: 65px;
  padding: 65px 15px;
}
.tab-panel__detail {
  padding-right: 10%;
}
.tab-panel__btn {
  padding: 14px 25px 15px 25px;
  border-radius: 100px;
  width: 265px;
  text-align: center;
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.52px;
  text-align: center;
}
.tab-panel .banner-image {
  width: 100%;
}

.tab_radio {
  display: none;
}

.stock__title {
  font-family: Instrument Sans;
  font-weight: 500;
  line-height: 55.2px;
  letter-spacing: -0.03em;
  margin-bottom: 0;
}
.stock__btn {
  bottom: 80px;
  border-radius: 100px;
  padding: 15px 25px;
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.52px;
  text-align: center;
}
.stock-swiper {
  inset-block-start: calc(50% - 150px);
  width: 100%;
}
.stock-swiper .swiper-wrapper {
  left: 20px !important;
  display: flex;
  align-items: center;
}
.stock-swiper .swiper-wrapper .swiper-slide {
  width: 110px;
  height: 110px;
}
.stock-swiper .swiper-wrapper .swiper-slide .icon__outer-wrapper {
  width: 100%;
  height: 100%;
  background: #d8f3df;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stock-swiper .swiper-wrapper .swiper-slide .icon__outer-wrapper .icon__inner-wrapper {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.22px solid #ffffff;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2.44px 7.31px 0px rgba(0, 0, 0, 0.1490196078);
}
.stock-swiper .swiper-wrapper .swiper-slide .icon__outer-wrapper .icon__inner-wrapper svg {
  width: 48px;
  height: 48px;
}
.stock-swiper .swiper-wrapper .swiper-slide-active {
  width: 150px;
  height: 150px;
}
.stock-swiper .swiper-wrapper .swiper-slide-active .icon__outer-wrapper {
  width: 100%;
  height: 100%;
  border-width: 0px 1.22px 0px 1.22px;
  border-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(212, 223, 180, 0.25) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.stock-swiper .swiper-wrapper .swiper-slide-active .icon__outer-wrapper .icon__inner-wrapper {
  width: 125px;
  height: 125px;
  border: 1.22px solid #ffffff;
  box-shadow: 0px 2.44px 7.31px 0px rgba(0, 0, 0, 0.1490196078);
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stock-swiper .swiper-wrapper .swiper-slide-active .icon__outer-wrapper .icon__inner-wrapper svg {
  width: 78px;
  height: 78px;
}
.stock-swiper .swiper-wrapper .swiper-slide-prev {
  width: 110px;
  height: 110px;
}
.stock-swiper .swiper-wrapper .swiper-slide-prev .icon__outer-wrapper {
  width: 100%;
  height: 100%;
  border-width: 0px 1.5px 0px 1.5px;
  border-style: solid;
  border-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(212, 223, 180, 0.25) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.stock-swiper .swiper-wrapper .swiper-slide-prev .icon__outer-wrapper .icon__inner-wrapper {
  width: 88px;
  height: 88px;
  border: 1.22px solid #ffffff;
  box-shadow: 0px 2.44px 7.31px 0px rgba(0, 0, 0, 0.1490196078);
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stock-swiper .swiper-wrapper .swiper-slide-prev .icon__outer-wrapper .icon__inner-wrapper svg {
  width: 48px;
  height: 48px;
}
.stock-swiper .swiper-wrapper .swiper-slide-next {
  width: 110px;
  height: 110px;
}
.stock-swiper .swiper-wrapper .swiper-slide-next .icon__outer-wrapper {
  width: 100%;
  height: 100%;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(212, 223, 180, 0.25) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.stock-swiper .swiper-wrapper .swiper-slide-next .icon__outer-wrapper .icon__inner-wrapper {
  width: 88px;
  height: 88px;
  border: 1.22px solid #ffffff;
  box-shadow: 0px 2.44px 7.31px 0px rgba(0, 0, 0, 0.1490196078);
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stock-swiper .swiper-wrapper .swiper-slide-next .icon__outer-wrapper .icon__inner-wrapper svg {
  width: 48px;
  height: 48px;
}

.section-about {
  padding-top: 120px;
  background: radial-gradient(39.83% 35.08% at 70.94% 35.08%, #F0FFF5 0%, #FFFFFF 100%);
}

.about__title {
  font-family: Instrument Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #071e12;
  padding-right: 50px;
  margin-bottom: 12px;
}
.about__title .highlight {
  background: #edf7f0;
  border: 1px solid #48b065;
  border-radius: 100px;
  padding: 5px 14px;
  color: #48b065;
}
.about__description {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(7, 30, 18, 0.5019607843);
  padding-right: 120px;
  margin-bottom: 40px;
}
.about__feature-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 25px;
}
.about__feature-wrapper .feature__description {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: left;
  color: #071e12;
}

.special-badge .badge__rating {
  font-family: Instrument Sans;
  font-size: 56px;
  font-weight: 600;
  line-height: 68.32px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #071e12;
}
.special-badge .badge__description {
  font-family: Instrument Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.08px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(7, 30, 18, 0.5019607843);
}

.badge__splitter {
  width: 1px;
  height: 50px;
  border-left: 1px solid rgba(7, 30, 18, 0.1490196078);
}

.benefit__container {
  width: calc(100% - 180px);
  padding-top: 60px;
}
.benefit__banner-image {
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
}
.benefit__title {
  font-family: Instrument Sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 55.2px;
  letter-spacing: -0.03em;
  text-align: center;
  width: 600px;
  z-index: 10;
  margin-top: 0;
}
.benefit__sub-title {
  font-family: Instrument Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.03em;
  width: 620px;
  margin-top: 0;
  margin-bottom: 0;
}
.benefit__btn {
  font-family: Instrument Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.96px;
  text-align: right;
  box-shadow: 0px 0px 40px 0px rgba(72, 176, 101, 0.4);
  height: 56px;
  border-radius: 100px;
}
.benefit__card-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-bottom: 65px;
}
.benefit__card {
  position: relative;
}
.benefit__card .card-title {
  font-family: Instrument Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.benefit__card .card-description {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6980392157);
}
.benefit__card .card-link {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.52px;
  color: white;
  text-decoration: none;
}
.benefit__card .card-link svg {
  transition: transform 0.3s;
}
.benefit__card .card-link:hover svg {
  transform: rotate(45deg);
}

.testimonial__title {
  font-family: Instrument Sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 55.2px;
  letter-spacing: -0.03em;
  text-align: center;
  width: 770px;
}
.testimonial__wrapper {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.testimonial__wrapper::before {
  content: " ";
  width: 180px;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.testimonial__wrapper::after {
  content: " ";
  width: 180px;
  height: 100%;
  background: linear-gradient(-270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.testimonial__wrapper + .btn {
  border-radius: 100px;
  padding: 14px 25px;
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.52px;
  text-align: center;
}
.testimonial__row {
  --testimonial-card-width: calc((100vw - 60px) / 3);
}
.testimonial__row .testimonial__card {
  min-width: var(--testimonial-card-width);
  max-width: var(--testimonial-card-width);
  background: #f2f9f5;
  border: 1px solid rgba(7, 30, 18, 0.1490196078);
  border-radius: 15px;
  padding: 35px;
}
.testimonial__row .testimonial__card__feedback {
  font-family: Instrument Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: rgba(7, 30, 18, 0.6);
}
.testimonial__row .testimonial__card__avatar {
  width: 48px;
  height: 48px;
}
.testimonial__row .testimonial__card__username {
  font-family: Instrument Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #202226;
}
.testimonial__row .testimonial__card__role {
  font-family: Instrument Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #838383;
}
.testimonial__row:nth-child(odd) {
  left: calc(var(--testimonial-card-width) / 2 * -1);
  position: relative;
}
.testimonial__row:last-child::after {
  content: " ";
  width: 100%;
  height: 285px;
  position: absolute;
  bottom: 0;
  left: 350px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -20.39%, #FFFFFF 100%);
}

.mobile-app__bg-image {
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  top: 0;
}
.mobile-app-container {
  width: 1220px;
  left: calc((100vw - 1220px) / 2);
  position: absolute;
  z-index: 10;
}
.mobile-app__title {
  width: 590px;
  font-family: Instrument Sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.mobile-app__description {
  width: 500px;
  font-family: Instrument Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.6980392157);
}
.mobile-app__link {
  max-height: 50px;
}
.mobile-app__link img {
  height: 100%;
}

.faq-section__title {
  font-family: Instrument Sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 55.2px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
.faq-section__description {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(7, 30, 18, 0.5019607843);
}
.faq-section__description a {
  color: #071e12;
  font-weight: 500;
}
.faq-section__btn {
  padding: 14px 25px;
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.52px;
  text-align: center;
}
.faq-wrapper {
  margin-top: 55px;
  margin-bottom: 120px;
}
.faq-wrapper .faq-accordion details summary {
  font-family: Instrument Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.4px;
  text-align: left;
  color: #071e12;
  padding: 25px;
  margin: 0 15px;
  border-bottom: 1px solid rgba(7, 30, 18, 0.1490196078);
  display: flex;
  justify-content: space-between;
}
.faq-wrapper .faq-accordion details summary svg {
  fill: #48b065;
}
.faq-wrapper .faq-accordion details p {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(7, 30, 18, 0.5019607843);
}
.faq-wrapper .faq-accordion details[open] {
  background: #edf7f0;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}
.faq-wrapper .faq-accordion details[open] svg {
  fill: #c8c8c8;
  transform: rotate(45deg);
}
.faq-wrapper .faq-accordion details[open] summary {
  border-bottom: none;
  margin-left: 0;
  margin-right: 0;
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.faq-wrapper .faq-accordion details[open] p {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.header {
  position: absolute;
  top: 50px;
  padding-left: 50px;
  width: calc(100vw - 100px);
}
.header__logo-image {
  width: 162px;
  height: 32px;
}
.header__menu {
  border: 0.7px solid;
  background: rgba(255, 255, 255, 0.1490196078);
  border-radius: 100px;
  border-image: radial-gradient(209.86% 360.71% at 49.9% -1.19%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 14.34%, rgba(255, 255, 255, 0.7) 49.73%);
  padding: 8px;
}
.header__menu-item {
  list-style: none;
  padding: 4px 8px;
}
.header__menu-item .download__btn {
  border-radius: 100px;
  padding: 9px 22px;
}
.header__menu-item a {
  font-family: Instrument Sans;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
  color: #ffffff;
  text-decoration: none;
}
.header__menu-item--active a {
  padding: 6px 15px;
  border-radius: 100px;
  background: #48b065;
}
.header__menu-dropdown {
  font-family: Instrument Sans;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
  color: #ffffff;
}
.header__menu-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.header__menu-dropdown .dropdown-content li {
  list-style: none;
}
.header__menu-dropdown .dropdown-content li a {
  color: #071E12;
}
.header__menu-dropdown:hover {
  color: #fff;
}
.header__menu-dropdown:hover span {
  text-decoration: none !important;
}
.header__menu-dropdown:hover span svg {
  transform: rotate(180deg);
}
.header__menu-dropdown:hover .dropdown-content {
  display: flex;
}

.footer {
  position: relative;
}
.footer__bg-image {
  width: calc(100% - 30px);
  left: 15px;
  top: 0px;
  position: absolute;
  margin-bottom: 15px;
}
.footer__logo-image {
  width: 210px;
}
.footer .container {
  z-index: 10;
  position: relative;
  padding-top: 100px;
}
.footer .container .logo__text {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 380px;
  color: rgba(255, 255, 255, 0.6980392157);
}
.footer .newsletter__form-title {
  font-family: Instrument Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: -0.03em;
}
.footer .newsletter-form__input {
  width: 450px;
  background: radial-gradient(131.62% 212.05% at 22.98% 23.92%, rgba(126, 150, 118, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  border: 0.8px solid;
  border-image-source: radial-gradient(225.54% 387.65% at 49.87% 0%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 14.34%, rgba(255, 255, 255, 0.7) 49.73%);
  box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 100px;
  padding: 20px;
  font-family: Instrument Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.08px;
}
.footer .newsletter-form__input::placeholder {
  color: #fff;
  opacity: 1;
}
.footer .newsletter-form__btn {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 13px 25px;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-family: Instrument Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.08px;
  text-align: center;
}
.footer .newsletter-form__wrapper {
  position: relative;
}
.footer-links {
  margin-top: 50px;
  margin-bottom: 65px;
}
.footer-links__title {
  font-family: Instrument Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: -0.03em;
}
.footer-links a {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.footer__mobile-app__title {
  font-family: Instrument Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__social__title {
  font-family: Instrument Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: -0.03em;
}
.footer .social-icon span {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(43.32% 110% at 50.2% 147.14%, rgba(72, 176, 101, 0.8) 0%, rgba(26, 65, 37, 0.8) 100%), radial-gradient(131.62% 212.05% at 22.98% 23.92%, rgba(126, 150, 118, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  border: 0.8px solid;
  border-image: radial-gradient(225.54% 387.65% at 49.87% 0%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 14.34%, rgba(255, 255, 255, 0.7) 49.73%);
  box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.3490196078);
}
.footer .social-icon:hover span {
  background: #48b065;
  border: 0.8px solid;
  border-image: radial-gradient(225.54% 387.65% at 49.87% 0%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 14.34%, rgba(255, 255, 255, 0.7) 49.73%);
}
.footer .mobile-app__link img {
  width: 110px;
  height: 35px;
}
.footer__addition {
  padding-top: 60px;
}
.footer__addition .copyright {
  font-family: Instrument Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
}
.footer__addition a {
  font-family: Instrument Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6980392157);
}

/*# sourceMappingURL=custom.css.map */
