.flex {
    display: flex;
    
    @each $key, $value in $flex-directions {
        &-#{$key} {
            flex-direction: $value;
        }
    }

    @each $key, $value in $flex-layouts {
        &-#{$key} {
            justify-content: $value;
        }
    }
}

@each $key, $value in $flex-aligns {
    .align-#{$key} {
        align-items: $value;
    }
}

@each $key, $value in $positions {
    .#{$key} {
        position: $value;
    }
}

@for $i from 1 through 100 {
    .gap-#{$i} {
      gap: #{$i}px;
    }

    .round-#{$i} {
        border-radius: #{$i}px;
    }
}

.round-half {
    border-radius: 50%;
}

.mx-auto {
    margin: 0 auto;
}

@each $key, $value in $colors {
    .bg--#{$key} {
        background-color: $value;
    }
}

.bg--gradient {
    background: linear-gradient(135deg, #48B065 12.5%, #1E4A2A 227.02%);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.h-splitter {
    display: block !important;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #FFFFFF26;
}

