
.section-about {
    padding-top: 120px;
    background: radial-gradient(39.83% 35.08% at 70.94% 35.08%, #F0FFF5 0%, #FFFFFF 100%);
}
.about {

  &__title {
    font-family: Instrument Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #071e12;
    padding-right: 50px;
    margin-bottom: 12px;

    .highlight {
      background: #edf7f0;
      border: 1px solid #48b065;
      border-radius: 100px;
      padding: 5px 14px;
      color: #48b065;
    }
  }

  &__description {
    font-family: Instrument Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #071e1280;
    padding-right: 120px;
    margin-bottom: 40px;
  }

  &__feature-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 25px;

    .feature__description {
      font-family: Instrument Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: 20.8px;
      text-align: left;
      color: #071e12;
    }
  }
}

.special-badge {
  .badge__rating {
    font-family: Instrument Sans;
    font-size: 56px;
    font-weight: 600;
    line-height: 68.32px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #071e12;
  }

  .badge__description {
    font-family: Instrument Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.08px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #071e1280;
  }
}

.badge__splitter {
    width: 1px;
    height: 50px;
    border-left: 1px solid #071E1226;
}
