.brand {
    &__title {
        font-family: Instrument Sans, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: #071E1280;

        strong {
            color: #071E12;
        }
    }

    &__wrapper {
        padding-bottom: 55px;

        &::before {
            content: " ";
            position: absolute;
            left: calc((100vw - 1300px) / 2);
            top: 0;
            width: 228px;
            height: 80px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) -55.04%, #FFFFFF 100%);
            z-index: 10;
        }

        &::after {
            content: " ";
            position: absolute;
            right: calc((100vw - 1300px) / 2);
            top: 0;
            width: 228px;
            height: 80px;
            background: linear-gradient(-270deg, rgba(255, 255, 255, 0) -55.04%, #FFFFFF 100%);
            z-index: 10;
        }

        .flex::before {
            content: " ";
            width: 1300px;
            height: 1px;
            position: absolute;
            bottom: -50px;
            background-color: #071E1226;
        }
    }

    &-swiper {
        padding-left: 320px;
        margin-left: calc((100vw - 1200px) / 2);
        padding-bottom: 50px;

        .swiper-wrapper::before {
            content: " ";
            width: 1350px;
            position: absolute;
            height: 80px;
            left: 0px;
            background: linear-gradient(-270deg, rgba(255, 255, 255, 0) -55.04%, #FFFFFF 100%);
            opacity: .7;
            z-index: 10;
        }

        .swiper-slide {
            display: flex;

            img {
                width: 150px;
                height: 32px;
            }
        }

        &::before {
            content: " ";
            width: 1300px;
            height: 1px;
            position: absolute;
            left: -50px;
            bottom: 0;
            background-color: #071E1226;
        }
    }

    
    
}