.brand {
    &__title {
        font-family: Instrument Sans, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: #071E1280;

        strong {
            color: #071E12;
        }
    }

    &__wrapper {
        padding-bottom: 55px;

        &::before {
            content: " ";
            position: absolute;
            left: calc((100vw - 1300px) / 2);
            top: 0;
            width: 228px;
            height: 80px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) -55.04%, #FFFFFF 100%);
            z-index: 10;
        }

        &::after {
            content: " ";
            position: absolute;
            right: calc((100vw - 1300px) / 2);
            top: 0;
            width: 228px;
            height: 80px;
            background: linear-gradient(-270deg, rgba(255, 255, 255, 0) -55.04%, #FFFFFF 100%);
            z-index: 10;
        }

        .flex::before {
            content: " ";
            width: 1300px;
            height: 1px;
            position: absolute;
            bottom: -50px;
            // left: 10px;
            background-color: #071E1226;
        }
    }
    
}