/* ==========================================================
// Hero Section
// =========================================================*/
.hero {
  &__content {
    position: absolute;
    top: 200px;
  }
  &__image {
    width: 100%;
  }

  &__button {
    font-family: Instrument Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    background: radial-gradient(43.32% 110% at 50.2% 147.14%, rgba(72, 176, 101, 0.8) 0%, rgba(26, 65, 37, 0.8) 100%);
    border: 0.6px solid;
    border-image-source: radial-gradient(
      230.08% 395.45% at 44.31% -6.82%,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0) 14.34%,
      rgba(255, 255, 255, 0.7) 49.73%
    );
    border-radius: 8px;
    padding: 6px 10px 6px 8px;
    text-decoration: none;
  }

  &__title {
    font-weight: 500;
    line-height: 77px;
    letter-spacing: -0.03em;
    // padding: 0 calc(min(calc((100vw - 900px) / 2), 250px));
  }

  &__description {
    max-width: 476px;
    font-family: Instrument Sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    opacity: 70%;
  }

  &__review {
    &-btn {
      box-shadow: 0px 0px 40px 0px #48b06566;
      border: 1px solid;
      border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 65.57%);
      border-radius: 100px;
      font-size: 18px;
      font-weight: 500;
      line-height: 21.96px;
      text-align: center;
    }

    &-description {
      font-family: Instrument Sans, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 18.3px;
    }
  }
}
